body{
    background-image : url(https://www.shutterstock.com/image-photo/birria-tacos-broth-on-gray-260nw-2077207408.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera {
	background-color: #a58f5c;
	color: #fff;
	padding: 8px 10px;
	font-size: 24px;
	text-align: center;
	width: 100%;
    top: 0px;
    z-index: 1;
}

.formularios{
    margin-top: 10px;
}

.barra-navegacion {
	background-color: #eee;
	padding: 10px;
	top: 71px;
	left: 0;
	width: 100%;
	z-index: 1;
}

.lista {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.lista li {
	flex-basis: 20%;
	text-align: center;
}

.lista li a {
	color: #333;
	display: block;
	padding: 5px;
	text-decoration: none;
}

.lista li a:hover {
	background-color: #a58f5c;
	color: #fff;
}

.formulario-elegante {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.formulario-elegante h2 {
    text-align: center;
    margin-bottom: 20px;
}
  
.formulario-elegante label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}